@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white: #FDFDFD;
    --white2: #FBFBFB;
    --green: #0FA958;
    --green-high: #4fc787;
    --black: #242424;
    --black-footer: #101D10;
    --dark-green: #047517;
}

body{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 200px;

}

/* EDITANDO O CABEÇALHO */
header{
    width: 100%;
    background-color: var(--white);
    padding: 8px;
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/* EDITANDO A LOGO */
.container-left{
    width: 5%;
}
.container-left img{
    width: 100%;
}

/* EDITANDO OS LINKS */
.container-right{
    display: flex;
    width: 65%;
    justify-content: flex-start;
    align-items: center;
}

.links{
    display: flex;
    
}
.links li{
    margin: 0 40px;
    font-size: 18px;
    color: var(--black);
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    
}

.links li a{
    color: var(--black);
    text-decoration: none;
}
.links li a:hover{
    color: var(--green);
    transition: all .5s;
}

/* EDITANDO BOTÕES */
.container-third{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container-third button{
    padding: 8px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 40px;
    text-align: left;
    border: none;
    outline: none;
    transition: all.5s;
    cursor: pointer;
}

#btn-1{
    background-color: var(--white);
    border: 2px solid var(--green);
    width: 150px;
}
#btn-1:hover{
    background-color: var(--green);
    color: white;
    transition: all.5s;
}
#btn-1:hover i{
    color: white;
    transition: all.5s;
}

.bi-person-circle{
    color: #047517;
}

#btn-2{
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    width: 180px;
}
#btn-2:hover{
    background-color: var(--green-high);
    transition: all.5s;
}

.bi-list{
    color: green;
    font-size: 40px;
    cursor: pointer;
    display: none;
}

/* EDITANDO O FOOTER */
footer{
    width: 100%;
    background-color: var(--black-footer);
    display: flex;
    flex-direction: column;
    padding: 38px;
    cursor: default;
}
.footer-container{
    width: 100%;
    display: flex;
}

.footer-container .col{
    widows: 20%;
    margin: 0 20px;
}

.footer-container .col-1 img{
    width: 70%;
}


.footer-container .col-2 h5{
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
}
.footer-container .col-2 p{
    font-size: 12px;
    color: white;
}
.footer-container .col-2 i{
    font-size: 16px;
    color: white;
    margin-right: 8px;
    transition: all .5s;
}
.footer-container .col-2 i:hover{
    color: var(--green);
    transition: all .5s;
}

.footer-container .col-3 h5, .col-4 h5{
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}
.footer-container .col-3 p, .col-4 p{
    font-weight: 300;
    font-size: 14px;
    color: white;
    margin-bottom: 4px;
}
.footer-container .col-4 a{
    font-weight: 300;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: white;
    margin-bottom: 4px;
}
.footer-container .col-4 a:hover{
    font-weight: 300;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--green-high);
    margin-bottom: 4px;
}

.credit{
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    margin-top: 40px;
}